.dark .bg-zinc-800 {
  background-color: #000000;
}

.dark .text-teal-400 {
  color: #000000;
}

.pointer-events-auto {
  pointer-events: auto;
}

.gap-4 {
  gap: 1rem;
}

.p-0.5 {
  padding: 0.125rem;
}

.p-1 {
  padding: 0.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.text-base {
  color: #000000;
}

:hover.text-teal-500 {
  color: #000000;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.text-zinc-500 {
  color: #000000;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.dark .block {
  display: block;
}

.text-teal-500 {
  color: #000000;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dark .hidden {
  display: none;
}

.text-sm {
  color: #000000;
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}

.bg-zinc-100 {
  background-color: #000000;
}

.p-8 {
  padding: 2rem;
}

.hidden {
  display: none;
}

.font-medium {
  font-weight: 500;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.text-zinc-800 {
  color: #000000;
}

.pt-6 {
  padding-top: 1.5rem;
}

.dark .text-zinc-400 {
  color: #000000;
}

.dark .text-zinc-200 {
  color: #000000;
}

.absolute {
  position: absolute;
}

.text-zinc-600 {
  color: #000000;
}

.pointer-events-none {
  pointer-events: none;
}

.bg-white {
  background-color: #ffffff;
}

.dark .text-zinc-300 {
  color: #000000;
}

.block {
  display: block;
}

.dark .bg-zinc-900 {
  background-color: #000000;
}

@media (min-width: 768px) {
.block {
  display: block;
}

.hidden {
  display: none;
}

}

