.size-\[38px\] {
  width: 38px;
  height: 38px;
}

.top-\[4px\] {
  top: 4px;
}

.left-\[7px\] {
  left: 7px;
}

.size-12 {
  width: 3rem;
  height: 3rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.w-\[100px\] {
  width: 100px;
}

.h-\[50px\] {
  height: 50px;
}

.left-\[calc(50%+var(--offset))\] {
  left: calc(50%+var(--offset));
}

.drop-shadow-\[0_3px_1px_rgba(0,0,0,.15)\] {
  filter: drop-shadow(0_3px_1px_rgba(0,0,0,.15));
}

.bg-\[url(/map.png)\] {
  background-image: url(/map.png);
}

.mask-\[linear-gradient(to_bottom,black_50%,transparent)\] {
  mask-image: linear-gradient(to_bottom,black_50%,transparent);
}

.bg-size-\[530px_430px\] {
  background-size: 530px_430px;
}

.bg-position-\[center_-75px\] {
  background-position: center_-75px;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.data-hover:bg-black/2.5 {
  background-color: rgba(0, 0, 0, 0.025);
}

.data-hover:bg-black/5 {
  background-color: rgba(0, 0, 0, 0.05);
}

.data-closed:opacity-0 {
  opacity: 0;
}

.data-enter:ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.data-leave:ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.data-closed:scale-95 {
  transform: scale(0.95);
}

.-translate-x-1/2 {
  transform: translateX(-50%);
}

.translate-x-\[10px\] {
  transform: translateX(10px);
}

.translate-y-\[20px\] {
  transform: translateY(20px);
}

.rotate-\[45deg\] {
  transform: rotate(45deg);
}

.scale-\[1.2\] {
  transform: scale(1.2);
}

.border-black/5 {
  border-color: rgba(0, 0, 0, 0.05);
}

.bg-white/90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-black/50 {
  color: #000000;
}

