.backdrop-opacity-50 {
  backdrop-filter: opacity(0.5);
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.text-transparent {
  color: transparent;
}

.opacity-75 {
  opacity: 0.75;
}

