:hover.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

:hover.bg-blue-500 {
  background-color: #3b82f6;
}

:hover.bg-zinc-700 {
  background-color: #000000;
}

:hover.text-teal-400 {
  color: #000000;
}

:hover.text-white {
  color: #ffffff;
}

