.w-16 {
  width: 4rem;
}
.pl-32 {
  padding-left: 8rem;
}
.bg-gray-200 {
  background-color: #e5e7eb;
}
.mb-64 {
  margin-bottom: 16rem;
}
.no-touch: {
  device-variant: no-touch;
}
.optimize-quality {
  optimization: quality;
}
.backdrop-saturate-150 {
  backdrop-filter: saturate(150%);
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.p-14 {
  padding: 3.5rem;
}
.mr-14 {
  margin-right: 3.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.bg-blue-700 {
  background-color: #1d4ed8;
}
.text-shadow-1 {
  text-shadow: 0 1px 3px rgb(0 0 0 / 0.1), 0 1px 2px rgb(0 0 0 / 0.1);
}
.&:focus {
  nesting-selector: &:focus;
}
.mb-28 {
  margin-bottom: 7rem;
}
.ml-7 {
  margin-left: 1.75rem;
}
.drop-shadow-1 {
  filter: drop-shadow(0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1));
}
.pb-7 {
  padding-bottom: 1.75rem;
}
.will-change-transform {
  will-change: -transform;
}
.mask-origin-content {
  mask-size: origin-content;
}
.max-w-2 {
  max-width: 0.5rem;
}
.animate-bounce {
  animation: bounce 1s infinite;
}
.border-inline-end {
  border-inline: 1px solid;
}
.plugin-extend {
  plugin-type: extend;
}
.text-xl {
  font-size: 1.25rem;
}
.m-14 {
  margin: 3.5rem;
}
.mx-44 {
  margin-left: 11rem;
  margin-right: 11rem;
}
.pt-px {
  padding-top: 1px;
}
.mr-32 {
  margin-right: 8rem;
}
.container-query {
  container-query: true;
}
.text-blue-400 {
  color: #60a5fa;
}
.pt-10 {
  padding-top: 2.5rem;
}
.text-blue-300 {
  color: #93c5fd;
}
.m-24 {
  margin: 6rem;
}
.inline-flex {
  display: inline-flex;
}
.blur-3 {
  filter: blur(12px);
}
.saturate-200 {
  filter: saturate(200%);
}
.mt-4 {
  margin-top: 1rem;
}
.mr-11 {
  margin-right: 2.75rem;
}
.backdrop-opacity-30 {
  backdrop-filter: opacity(30%);
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.backdrop-contrast-0 {
  backdrop-filter: contrast(-0%);
}
.backdrop-contrast-50 {
  backdrop-filter: contrast(-50%);
}
.my-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}
.mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}
.m-72 {
  margin: 18rem;
}
.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.min-h-11 {
  min-height: 2.75rem;
}
.blur-none {
  filter: blur(0px);
}
.backdrop-brightness-0 {
  backdrop-filter: brightness(-0%);
}
.drop-shadow-none {
  filter: drop-shadow(0 0 #0000);
}
.border-gray-900 {
  border-color: #111827;
}
.m-8 {
  margin: 2rem;
}
.min-h-72 {
  min-height: 18rem;
}
.plugin-initialize {
  plugin-type: initialize;
}
.container-name {
  container-name: true;
}
.min-w-14 {
  min-width: 3.5rem;
}
.py-56 {
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.&:hover {
  nesting-selector: &:hover;
}
.pr-9 {
  padding-right: 2.25rem;
}
.pl-28 {
  padding-left: 7rem;
}
.max-h-72 {
  max-height: 18rem;
}
.mr-60 {
  margin-right: 15rem;
}
.mask-right-bottom {
  mask-size: right-bottom;
}
.max-w-1 {
  max-width: 0.25rem;
}
.pt-40 {
  padding-top: 10rem;
}
.animate-scale-out {
  animation: -scale-out;
}
.static {
  position: static;
}
.ml-1.5 {
  margin-left: 0.375rem;
}
.w-52 {
  width: 13rem;
}
.mb-36 {
  margin-bottom: 9rem;
}
.brightness-75 {
  filter: brightness(75%);
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.mt-6 {
  margin-top: 1.5rem;
}
.color-hwb {
  color-function: hwb;
}
.p-4 {
  padding: 1rem;
}
.pr-44 {
  padding-right: 11rem;
}
.mb-52 {
  margin-bottom: 13rem;
}
.bg-blue-50 {
  background-color: #eff6ff;
}
.font-light {
  font-weight: 300;
}
.items-end {
  align-items: flex-end;
}
.border-2 {
  border-width: 2px;
}
.max-w-px {
  max-width: 1px;
}
.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.my-1.5 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}
.mt-72 {
  margin-top: 18rem;
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.w-3 {
  width: 0.75rem;
}
.w-44 {
  width: 11rem;
}
.min-w-screen {
  min-width: 100vh;
}
.bg-top {
  background-size: top;
}
.min-h-7 {
  min-height: 1.75rem;
}
.text-block-start {
  text-align: start;
}
.sepia-0 {
  filter: sepia(0%);
}
.min-w-6 {
  min-width: 1.5rem;
}
.select-text {
  user-select: text;
}
.max-w-40 {
  max-width: 10rem;
}
.pb-48 {
  padding-bottom: 12rem;
}
.bg-gray-600 {
  background-color: #4b5563;
}
.transition-none {
  transition-property: none;
}
.duration-500 {
  transition-duration: 500ms;
}
.backdrop-opacity-60 {
  backdrop-filter: opacity(60%);
}
.&:visited {
  nesting-selector: &:visited;
}
.animate-fade-out {
  animation: -fade-out;
}
.validation-success {
  validation-state: success;
}
.max-w-screen {
  max-width: 100vh;
}
.blur-xl {
  filter: blur(24px);
}
.color-hsla {
  color-function: hsla;
}
.mt-36 {
  margin-top: 9rem;
}
.pl-6 {
  padding-left: 1.5rem;
}
.px-56 {
  padding-left: 14rem;
  padding-right: 14rem;
}
.p-0.5 {
  padding: 0.125rem;
}
.m-16 {
  margin: 4rem;
}
.pr-64 {
  padding-right: 16rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.backdrop-brightness-200 {
  backdrop-filter: brightness(-200%);
}
.pr-14 {
  padding-right: 3.5rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.select-all {
  user-select: all;
}
.transition-all {
  transition-property: all;
}
.backface-visibility-visible {
  backface-visibility: -visible;
}
.pl-36 {
  padding-left: 9rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.max-h-10 {
  max-height: 2.5rem;
}
.validation-rule-range {
  validation-state: rule-range;
}
.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}
.m-80 {
  margin: 20rem;
}
.mt-24 {
  margin-top: 6rem;
}
.mr-24 {
  margin-right: 6rem;
}
.mx-28 {
  margin-left: 7rem;
  margin-right: 7rem;
}
.max-h-28 {
  max-height: 7rem;
}
.pl-44 {
  padding-left: 11rem;
}
.h-72 {
  height: 18rem;
}
.text-shadow-3 {
  text-shadow: 0 10px 15px rgb(0 0 0 / 0.1), 0 4px 6px rgb(0 0 0 / 0.1);
}
.mr-36 {
  margin-right: 9rem;
}
.any-pointer-coarse: {
  device-variant: any-pointer-coarse;
}
.pointer-coarse: {
  device-variant: pointer-coarse;
}
.w-0.5 {
  width: 0.125rem;
}
.max-w-6 {
  max-width: 1.5rem;
}
.min-w-32 {
  min-width: 8rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.max-h-32 {
  max-height: 8rem;
}
.max-h-40 {
  max-height: 10rem;
}
.mt-16 {
  margin-top: 4rem;
}
.min-w-max {
  min-width: max-content;
}
.brightness-100 {
  filter: brightness(100%);
}
.mask-left-top {
  mask-size: left-top;
}
.pr-20 {
  padding-right: 5rem;
}
.min-h-56 {
  min-height: 14rem;
}
.h-3/5 {
  height: 60%;
}
.backdrop-opacity-25 {
  backdrop-filter: opacity(25%);
}
.--neutral {
  custom-property: neutral;
}
.&:any-link {
  nesting-selector: &:any-link;
}
.mb-24 {
  margin-bottom: 6rem;
}
.perspective-1500 {
  perspective: 1500px;
}
.transition-colors {
  transition-property: colors;
}
.min-h-max {
  min-height: max-content;
}
.pb-28 {
  padding-bottom: 7rem;
}
.p-96 {
  padding: 24rem;
}
.max-w-2.5 {
  max-width: 0.625rem;
}
.m-20 {
  margin: 5rem;
}
.&:selection {
  nesting-selector: &:selection;
}
.max-h-5 {
  max-height: 1.25rem;
}
.pl-52 {
  padding-left: 13rem;
}
.min-w-60 {
  min-width: 15rem;
}
.border-gray-100 {
  border-color: #f3f4f6;
}
.validation-rule-custom {
  validation-state: rule-custom;
}
.pb-20 {
  padding-bottom: 5rem;
}
.h-screen {
  height: 100vh;
}
.p-5 {
  padding: 1.25rem;
}
.text-sm {
  font-size: 0.875rem;
}
.pt-9 {
  padding-top: 2.25rem;
}
.justify-evenly {
  justify-content: space-evenly;
}
.text-inline-end {
  text-align: end;
}
.text-blue-800 {
  color: #1e40af;
}
.mt-px {
  margin-top: 1px;
}
.text-base {
  font-size: 1rem;
}
.@container {
  container-query: true;
}
.min-w-80 {
  min-width: 20rem;
}
.touch: {
  device-variant: touch;
}
.h-14 {
  height: 3.5rem;
}
.bg-blue-100 {
  background-color: #dbeafe;
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.mx-96 {
  margin-left: 24rem;
  margin-right: 24rem;
}
.border-8 {
  border-width: 8px;
}
.max-h-64 {
  max-height: 16rem;
}
.max-h-0 {
  max-height: 0px;
}
.delay-700 {
  transition-delay: 700ms;
}
.my-48 {
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.p-8 {
  padding: 2rem;
}
.m-36 {
  margin: 9rem;
}
.mask-clip-content {
  mask-size: clip-content;
}
.&:file {
  nesting-selector: &:file;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.contain-strict {
  contain: strict;
}
.m-60 {
  margin: 15rem;
}
.--base-200 {
  custom-property: base-200;
}
.duration-700 {
  transition-duration: 700ms;
}
.pl-14 {
  padding-left: 3.5rem;
}
.mr-0 {
  margin-right: 0px;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
.border-0 {
  border-width: 0px;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.h-0 {
  height: 0px;
}
.py-96 {
  padding-top: 24rem;
  padding-bottom: 24rem;
}
.invert-0 {
  filter: invert(0%);
}
.perspective-2000 {
  perspective: 2000px;
}
.animate-spin-slow {
  animation: -spin-slow;
}
.my-52 {
  margin-top: 13rem;
  margin-bottom: 13rem;
}
.border-gray-300 {
  border-color: #d1d5db;
}
.h-1/3 {
  height: 33.333333%;
}
.py-36 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.p-inline-end {
  padding-inline: 0.25rem;
}
.pt-20 {
  padding-top: 5rem;
}
.m-7 {
  margin: 1.75rem;
}
.border-gray-50 {
  border-color: #f9fafb;
}
.&:valid {
  nesting-selector: &:valid;
}
.&:placeholder {
  nesting-selector: &:placeholder;
}
.min-h-48 {
  min-height: 12rem;
}
.backdrop-saturate-100 {
  backdrop-filter: saturate(100%);
}
.m-48 {
  margin: 12rem;
}
.pt-16 {
  padding-top: 4rem;
}
.container-type-normal {
  container-type: normal;
}
.mt-20 {
  margin-top: 5rem;
}
.pt-12 {
  padding-top: 3rem;
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.w-60 {
  width: 15rem;
}
.contrast-75 {
  filter: contrast(75%);
}
.w-36 {
  width: 9rem;
}
.min-h-20 {
  min-height: 5rem;
}
.px-64 {
  padding-left: 16rem;
  padding-right: 16rem;
}
.h-96 {
  height: 24rem;
}
.saturate-150 {
  filter: saturate(150%);
}
.validation-optional {
  validation-state: optional;
}
.validation-rule-pattern {
  validation-state: rule-pattern;
}
.max-h-12 {
  max-height: 3rem;
}
.backdrop-invert-100 {
  backdrop-filter: invert(100%);
}
.mr-2.5 {
  margin-right: 0.625rem;
}
.max-h-24 {
  max-height: 6rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.p-block-start {
  padding-block: 0.25rem;
}
.max-h-80 {
  max-height: 20rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.ml-10 {
  margin-left: 2.5rem;
}
.text-center {
  text-align: center;
}
.text-inline-start {
  text-align: start;
}
.px-72 {
  padding-left: 18rem;
  padding-right: 18rem;
}
.color-color-mix {
  color-function: color-mix;
}
.bg-gray-100 {
  background-color: #f3f4f6;
}
.saturate-50 {
  filter: saturate(50%);
}
.plugin-utility {
  plugin-type: utility;
}
.pl-4 {
  padding-left: 1rem;
}
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.bg-origin-border {
  background-size: origin-border;
}
.brightness-150 {
  filter: brightness(150%);
}
.transition-opacity {
  transition-property: opacity;
}
.pl-40 {
  padding-left: 10rem;
}
.backdrop-blur-0 {
  backdrop-filter: blur(0px);
}
.mx-px {
  margin-left: 1px;
  margin-right: 1px;
}
.mask-bottom {
  mask-size: bottom;
}
.plugin-priority-low {
  plugin-type: priority-low;
}
.mask-left-bottom {
  mask-size: left-bottom;
}
.max-h-fit {
  max-height: fit-content;
}
.text-2xl {
  font-size: 1.5rem;
}
.py-60 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.py-3.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.pr-96 {
  padding-right: 24rem;
}
.p-48 {
  padding: 12rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.max-w-28 {
  max-width: 7rem;
}
.w-1/4 {
  width: 25%;
}
.max-w-80 {
  max-width: 20rem;
}
.pb-44 {
  padding-bottom: 11rem;
}
.w-28 {
  width: 7rem;
}
.&:autofill {
  nesting-selector: &:autofill;
}
.max-h-6 {
  max-height: 1.5rem;
}
.my-60 {
  margin-top: 15rem;
  margin-bottom: 15rem;
}
.color-lch {
  color-function: lch;
}
.mr-96 {
  margin-right: 24rem;
}
.border-block-start {
  border-block: 1px solid;
}
.mb-60 {
  margin-bottom: 15rem;
}
.brightness-110 {
  filter: brightness(110%);
}
.isolation-auto {
  isolation: auto;
}
.animate-slide-in {
  animation: -slide-in;
}
.pr-36 {
  padding-right: 9rem;
}
.backdrop-hue-rotate-60 {
  backdrop-filter: hue-rotate(-60deg);
}
.max-w-7 {
  max-width: 1.75rem;
}
.p-64 {
  padding: 16rem;
}
.w-7 {
  width: 1.75rem;
}
.text-justify {
  text-align: justify;
}
.max-h-1.5 {
  max-height: 0.375rem;
}
.ml-3.5 {
  margin-left: 0.875rem;
}
.px-28 {
  padding-left: 7rem;
  padding-right: 7rem;
}
.h-48 {
  height: 12rem;
}
.my-40 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.h-24 {
  height: 6rem;
}
.text-blue-500 {
  color: #3b82f6;
}
.pt-44 {
  padding-top: 11rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.ml-96 {
  margin-left: 24rem;
}
.min-w-1.5 {
  min-width: 0.375rem;
}
.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}
.text-shadow-2 {
  text-shadow: 0 4px 6px rgb(0 0 0 / 0.1), 0 2px 4px rgb(0 0 0 / 0.1);
}
.ml-28 {
  margin-left: 7rem;
}
.backdrop-opacity-90 {
  backdrop-filter: opacity(90%);
}
.contain-layout {
  contain: layout;
}
.min-h-8 {
  min-height: 2rem;
}
.h-20 {
  height: 5rem;
}
.h-3.5 {
  height: 0.875rem;
}
.min-h-3 {
  min-height: 0.75rem;
}
.m-56 {
  margin: 14rem;
}
.min-w-48 {
  min-width: 12rem;
}
.pr-28 {
  padding-right: 7rem;
}
.bg-blue-950 {
  background-color: #172554;
}
.max-w-60 {
  max-width: 15rem;
}
.h-auto {
  height: auto;
}
.contrast-100 {
  filter: contrast(100%);
}
.backdrop-contrast-150 {
  backdrop-filter: contrast(-150%);
}
.h-2/5 {
  height: 40%;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.--secondary {
  custom-property: secondary;
}
.backdrop-blur-2 {
  backdrop-filter: blur(8px);
}
.contrast-125 {
  filter: contrast(125%);
}
.@container-sm {
  container-query: true;
}
.color-color-contrast {
  color-function: color-contrast;
}
.items-center {
  align-items: center;
}
.animate-pulse-fast {
  animation: -pulse-fast;
}
.min-w-0 {
  min-width: 0px;
}
.max-w-16 {
  max-width: 4rem;
}
.m-0 {
  margin: 0px;
}
.plugin-base {
  plugin-type: base;
}
.brightness-95 {
  filter: brightness(95%);
}
.&:read-only {
  nesting-selector: &:read-only;
}
.bg-clip-border {
  background-size: clip-border;
}
.p-11 {
  padding: 2.75rem;
}
.bg-white {
  background-color: #ffffff;
}
.p-44 {
  padding: 11rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.hue-rotate-0 {
  filter: hue-rotate(0deg);
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.mb-16 {
  margin-bottom: 4rem;
}
.h-min {
  height: min-content;
}
.text-gray-700 {
  color: #374151;
}
.@container-md {
  container-query: true;
}
.pr-4 {
  padding-right: 1rem;
}
.pb-96 {
  padding-bottom: 24rem;
}
.duration-150 {
  transition-duration: 150ms;
}
.plugin-prepend {
  plugin-type: prepend;
}
.border-blue-500 {
  border-color: #3b82f6;
}
.min-h-9 {
  min-height: 2.25rem;
}
.mt-9 {
  margin-top: 2.25rem;
}
.h-2 {
  height: 0.5rem;
}
.max-w-32 {
  max-width: 8rem;
}
.min-w-64 {
  min-width: 16rem;
}
.any-pointer-none: {
  device-variant: any-pointer-none;
}
.&:marker {
  nesting-selector: &:marker;
}
.max-w-fit {
  max-width: fit-content;
}
.pr-2.5 {
  padding-right: 0.625rem;
}
.m-1 {
  margin: 0.25rem;
}
.border-gray-200 {
  border-color: #e5e7eb;
}
.max-h-9 {
  max-height: 2.25rem;
}
.text-blue-50 {
  color: #eff6ff;
}
.max-h-60 {
  max-height: 15rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.mt-1.5 {
  margin-top: 0.375rem;
}
.border-gray-950 {
  border-color: #030712;
}
.py-28 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.text-gray-300 {
  color: #d1d5db;
}
.h-7 {
  height: 1.75rem;
}
.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.mx-32 {
  margin-left: 8rem;
  margin-right: 8rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.ml-44 {
  margin-left: 11rem;
}
.max-h-8 {
  max-height: 2rem;
}
.&:checked {
  nesting-selector: &:checked;
}
.perspective-3000 {
  perspective: 3000px;
}
.text-left {
  text-align: left;
}
.@container-lg {
  container-query: true;
}
.backdrop-contrast-100 {
  backdrop-filter: contrast(-100%);
}
.plugin-override {
  plugin-type: override;
}
.p-24 {
  padding: 6rem;
}
.pl-11 {
  padding-left: 2.75rem;
}
.justify-start {
  justify-content: flex-start;
}
.blur-3xl {
  filter: blur(64px);
}
.pt-56 {
  padding-top: 14rem;
}
.bg-blue-900 {
  background-color: #1e3a8a;
}
.mt-40 {
  margin-top: 10rem;
}
.drop-shadow-2xl {
  filter: drop-shadow(0 25px 50px -12px rgb(0 0 0 / 0.25));
}
.color-color-scheme {
  color-function: color-scheme;
}
.flex {
  display: flex;
}
.backdrop-blur-3 {
  backdrop-filter: blur(12px);
}
.m-0.5 {
  margin: 0.125rem;
}
.mb-3.5 {
  margin-bottom: 0.875rem;
}
.items-baseline {
  align-items: baseline;
}
.scale-100 {
  transform: scale(1);
}
.backdrop-contrast-75 {
  backdrop-filter: contrast(-75%);
}
.contrast-200 {
  filter: contrast(200%);
}
.h-16 {
  height: 4rem;
}
.pr-3.5 {
  padding-right: 0.875rem;
}
.mt-80 {
  margin-top: 20rem;
}
.mb-1.5 {
  margin-bottom: 0.375rem;
}
.p-6 {
  padding: 1.5rem;
}
.scale-110 {
  transform: scale(1.1);
}
.scale-150 {
  transform: scale(1.5);
}
.text-blue-200 {
  color: #bfdbfe;
}
.ml-80 {
  margin-left: 20rem;
}
.scale-95 {
  transform: scale(0.95);
}
.bg-clip-content {
  background-size: clip-content;
}
.p-block {
  padding-block: 0.25rem;
}
.backdrop-opacity-70 {
  backdrop-filter: opacity(70%);
}
.--base-300 {
  custom-property: base-300;
}
.animate-flip-in {
  animation: -flip-in;
}
.ml-24 {
  margin-left: 6rem;
}
.mt-12 {
  margin-top: 3rem;
}
.ml-6 {
  margin-left: 1.5rem;
}
.inline {
  display: inline;
}
.color-oklab {
  color-function: oklab;
}
.mt-32 {
  margin-top: 8rem;
}
.h-0.5 {
  height: 0.125rem;
}
.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}
.pointer-none: {
  device-variant: pointer-none;
}
.h-64 {
  height: 16rem;
}
.backdrop-saturate-50 {
  backdrop-filter: saturate(50%);
}
.pr-32 {
  padding-right: 8rem;
}
.min-h-0.5 {
  min-height: 0.125rem;
}
.animate-rotate-in {
  animation: -rotate-in;
}
.bg-gray-900 {
  background-color: #111827;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.mr-0.5 {
  margin-right: 0.125rem;
}
.mx-24 {
  margin-left: 6rem;
  margin-right: 6rem;
}
.pr-56 {
  padding-right: 14rem;
}
.p-60 {
  padding: 15rem;
}
.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.w-72 {
  width: 18rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mb-56 {
  margin-bottom: 14rem;
}
.layer-components {
  layer: components;
}
.font-normal {
  font-weight: 400;
}
.border-gray-800 {
  border-color: #1f2937;
}
.plugin-component {
  plugin-type: component;
}
.mt-2.5 {
  margin-top: 0.625rem;
}
.mx-64 {
  margin-left: 16rem;
  margin-right: 16rem;
}
.h-1 {
  height: 0.25rem;
}
.mask-repeat-x {
  mask-size: repeat-x;
}
.pb-56 {
  padding-bottom: 14rem;
}
.duration-300 {
  transition-duration: 300ms;
}
.mr-8 {
  margin-right: 2rem;
}
.py-44 {
  padding-top: 11rem;
  padding-bottom: 11rem;
}
.mt-48 {
  margin-top: 12rem;
}
.min-w-28 {
  min-width: 7rem;
}
.min-h-10 {
  min-height: 2.5rem;
}
.p-2.5 {
  padding: 0.625rem;
}
.py-64 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
.pr-0.5 {
  padding-right: 0.125rem;
}
.pl-20 {
  padding-left: 5rem;
}
.p-2 {
  padding: 0.5rem;
}
.max-h-auto {
  max-height: auto;
}
.ml-0 {
  margin-left: 0px;
}
.inline-grid {
  display: inline-grid;
}
.min-h-auto {
  min-height: auto;
}
.h-32 {
  height: 8rem;
}
.mr-3.5 {
  margin-right: 0.875rem;
}
.bg-cover {
  background-size: cover;
}
.backdrop-blur-1 {
  backdrop-filter: blur(4px);
}
.mx-3.5 {
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}
.bg-round {
  background-size: round;
}
.mask-origin-border {
  mask-size: origin-border;
}
.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.mr-7 {
  margin-right: 1.75rem;
}
.ml-36 {
  margin-left: 9rem;
}
.pt-3.5 {
  padding-top: 0.875rem;
}
.ml-4 {
  margin-left: 1rem;
}
.max-h-3 {
  max-height: 0.75rem;
}
.contrast-0 {
  filter: contrast(0%);
}
.mx-0.5 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.mt-10 {
  margin-top: 2.5rem;
}
.color-oklch {
  color-function: oklch;
}
.optimize-auto {
  optimization: auto;
}
.mask-auto {
  mask-size: auto;
}
.mr-20 {
  margin-right: 5rem;
}
.animate-slide-out {
  animation: -slide-out;
}
.max-h-56 {
  max-height: 14rem;
}
.m-28 {
  margin: 7rem;
}
.px-36 {
  padding-left: 9rem;
  padding-right: 9rem;
}
.mx-40 {
  margin-left: 10rem;
  margin-right: 10rem;
}
.pb-24 {
  padding-bottom: 6rem;
}
.border-blue-600 {
  border-color: #2563eb;
}
.pl-2.5 {
  padding-left: 0.625rem;
}
.pl-60 {
  padding-left: 15rem;
}
.text-3xl {
  font-size: 1.875rem;
}
.brightness-0 {
  filter: brightness(0%);
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.min-h-full {
  min-height: 100%;
}
.color-color-adjust {
  color-function: color-adjust;
}
.backdrop-hue-rotate-15 {
  backdrop-filter: hue-rotate(-15deg);
}
.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}
.w-4/5 {
  width: 80%;
}
.pl-3 {
  padding-left: 0.75rem;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.h-full {
  height: 100%;
}
.px-0.5 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.w-3/5 {
  width: 60%;
}
.my-96 {
  margin-top: 24rem;
  margin-bottom: 24rem;
}
.&:link {
  nesting-selector: &:link;
}
.bg-left-bottom {
  background-size: left-bottom;
}
.p-block-end {
  padding-block: 0.25rem;
}
.mr-72 {
  margin-right: 18rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.font-extrabold {
  font-weight: 800;
}
.grayscale-100 {
  filter: grayscale(100%);
}
.pl-1 {
  padding-left: 0.25rem;
}
.&:muted {
  nesting-selector: &:muted;
}
.backdrop-opacity-50 {
  backdrop-filter: opacity(50%);
}
.min-h-16 {
  min-height: 4rem;
}
.text-shadow-xl {
  text-shadow: 0 20px 25px rgb(0 0 0 / 0.1), 0 8px 10px rgb(0 0 0 / 0.1);
}
.pl-0.5 {
  padding-left: 0.125rem;
}
.py-48 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.min-w-4 {
  min-width: 1rem;
}
.h-2/3 {
  height: 66.666667%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.bg-fixed {
  background-size: fixed;
}
.backdrop-saturate-200 {
  backdrop-filter: saturate(200%);
}
.w-64 {
  width: 16rem;
}
.max-h-0.5 {
  max-height: 0.125rem;
}
.blur-sm {
  filter: blur(4px);
}
.px-32 {
  padding-left: 8rem;
  padding-right: 8rem;
}
.text-xs {
  font-size: 0.75rem;
}
.delay-200 {
  transition-delay: 200ms;
}
.w-14 {
  width: 3.5rem;
}
.w-max {
  width: max-content;
}
.--accent {
  custom-property: accent;
}
.pt-32 {
  padding-top: 8rem;
}
.text-blue-900 {
  color: #1e3a8a;
}
.pl-5 {
  padding-left: 1.25rem;
}
.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.mx-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}
.border-blue-200 {
  border-color: #bfdbfe;
}
.mask-top {
  mask-size: top;
}
.pb-72 {
  padding-bottom: 18rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.bg-gray-800 {
  background-color: #1f2937;
}
.w-96 {
  width: 24rem;
}
.drop-shadow-2 {
  filter: drop-shadow(0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1));
}
.validation-pending {
  validation-state: pending;
}
.mb-12 {
  margin-bottom: 3rem;
}
.text-gray-50 {
  color: #f9fafb;
}
.text-transparent {
  color: transparent;
}
.mb-9 {
  margin-bottom: 2.25rem;
}
.bg-repeat-x {
  background-size: repeat-x;
}
.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.brightness-105 {
  filter: brightness(105%);
}
.mr-2 {
  margin-right: 0.5rem;
}
.backdrop-hue-rotate-180 {
  backdrop-filter: hue-rotate(-180deg);
}
.max-w-64 {
  max-width: 16rem;
}
.&:after {
  nesting-selector: &:after;
}
.min-w-full {
  min-width: 100%;
}
.animate-spin {
  animation: spin 1s linear infinite;
}
.layer-base {
  layer: base;
}
.p-px {
  padding: 1px;
}
.brightness-50 {
  filter: brightness(50%);
}
.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.p-72 {
  padding: 18rem;
}
.pb-40 {
  padding-bottom: 10rem;
}
.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.h-1/4 {
  height: 25%;
}
.text-gray-950 {
  color: #030712;
}
.text-5xl {
  font-size: 3rem;
}
.h-60 {
  height: 15rem;
}
.tablet: {
  device-variant: tablet;
}
.contain-paint {
  contain: paint;
}
.min-w-5 {
  min-width: 1.25rem;
}
.mx-80 {
  margin-left: 20rem;
  margin-right: 20rem;
}
.hue-rotate-90 {
  filter: hue-rotate(90deg);
}
.pt-72 {
  padding-top: 18rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.text-blue-600 {
  color: #2563eb;
}
.min-w-3.5 {
  min-width: 0.875rem;
}
.bg-origin-padding {
  background-size: origin-padding;
}
.mask-repeat-y {
  mask-size: repeat-y;
}
.mx-48 {
  margin-left: 12rem;
  margin-right: 12rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.w-2 {
  width: 0.5rem;
}
.pt-11 {
  padding-top: 2.75rem;
}
.pointer-fine: {
  device-variant: pointer-fine;
}
.inline-block {
  display: inline-block;
}
.invert-100 {
  filter: invert(100%);
}
.plugin-priority-normal {
  plugin-type: priority-normal;
}
.brightness-90 {
  filter: brightness(90%);
}
.pr-12 {
  padding-right: 3rem;
}
.&:first-line {
  nesting-selector: &:first-line;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.max-w-0 {
  max-width: 0px;
}
.w-2/3 {
  width: 66.666667%;
}
.brightness-200 {
  filter: brightness(200%);
}
.min-w-2 {
  min-width: 0.5rem;
}
.border-gray-600 {
  border-color: #4b5563;
}
.text-6xl {
  font-size: 3.75rem;
}
.min-w-44 {
  min-width: 11rem;
}
.h-1.5 {
  height: 0.375rem;
}
.mt-3.5 {
  margin-top: 0.875rem;
}
.w-6 {
  width: 1.5rem;
}
.min-h-12 {
  min-height: 3rem;
}
.pl-px {
  padding-left: 1px;
}
.p-7 {
  padding: 1.75rem;
}
.bg-blue-500 {
  background-color: #3b82f6;
}
.max-h-3.5 {
  max-height: 0.875rem;
}
.&:out-of-range {
  nesting-selector: &:out-of-range;
}
.justify-center {
  justify-content: center;
}
.my-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.mask-center {
  mask-size: center;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.w-4 {
  width: 1rem;
}
.w-auto {
  width: auto;
}
.m-64 {
  margin: 16rem;
}
.m-3 {
  margin: 0.75rem;
}
.m-32 {
  margin: 8rem;
}
.font-extralight {
  font-weight: 200;
}
.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}
.min-h-1 {
  min-height: 0.25rem;
}
.w-2/5 {
  width: 40%;
}
.bg-black {
  background-color: #000000;
}
.px-80 {
  padding-left: 20rem;
  padding-right: 20rem;
}
.bg-clip-padding {
  background-size: clip-padding;
}
.bg-auto {
  background-size: auto;
}
.color-lab {
  color-function: lab;
}
.animate-flip-out {
  animation: -flip-out;
}
.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.grid {
  display: grid;
}
.mb-0.5 {
  margin-bottom: 0.125rem;
}
.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.border-gray-700 {
  border-color: #374151;
}
.duration-200 {
  transition-duration: 200ms;
}
.scale-75 {
  transform: scale(0.75);
}
.plugin-execute {
  plugin-type: execute;
}
.&:default {
  nesting-selector: &:default;
}
.m-12 {
  margin: 3rem;
}
.ml-60 {
  margin-left: 15rem;
}
.max-w-3 {
  max-width: 0.75rem;
}
.animate-fade-in {
  animation: -fade-in;
}
.pt-48 {
  padding-top: 12rem;
}
.w-24 {
  width: 6rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.w-1 {
  width: 0.25rem;
}
.text-gray-200 {
  color: #e5e7eb;
}
.p-3.5 {
  padding: 0.875rem;
}
.text-gray-400 {
  color: #9ca3af;
}
.ml-72 {
  margin-left: 18rem;
}
.max-w-12 {
  max-width: 3rem;
}
.bg-center {
  background-size: center;
}
.delay-500 {
  transition-delay: 500ms;
}
.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}
.&:active {
  nesting-selector: &:active;
}
.backdrop-opacity-5 {
  backdrop-filter: opacity(5%);
}
.animate-zoom-out {
  animation: -zoom-out;
}
.&:target {
  nesting-selector: &:target;
}
.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.bg-left {
  background-size: left;
}
.bg-right-top {
  background-size: right-top;
}
.mr-40 {
  margin-right: 10rem;
}
.w-56 {
  width: 14rem;
}
.backdrop-opacity-95 {
  backdrop-filter: opacity(95%);
}
.drop-shadow-0 {
  filter: drop-shadow(0 0 #0000);
}
.min-w-52 {
  min-width: 13rem;
}
.font-thin {
  font-weight: 100;
}
.mb-14 {
  margin-bottom: 3.5rem;
}
.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.backdrop-brightness-100 {
  backdrop-filter: brightness(-100%);
}
.ml-48 {
  margin-left: 12rem;
}
.pb-3.5 {
  padding-bottom: 0.875rem;
}
.pr-60 {
  padding-right: 15rem;
}
.mx-72 {
  margin-left: 18rem;
  margin-right: 18rem;
}
.my-28 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.border-blue-50 {
  border-color: #eff6ff;
}
.mt-0 {
  margin-top: 0px;
}
.min-h-5 {
  min-height: 1.25rem;
}
.mb-80 {
  margin-bottom: 20rem;
}
.min-w-56 {
  min-width: 14rem;
}
.p-36 {
  padding: 9rem;
}
.max-w-56 {
  max-width: 14rem;
}
.max-w-max {
  max-width: max-content;
}
.p-inline-start {
  padding-inline: 0.25rem;
}
.pr-8 {
  padding-right: 2rem;
}
.validation-warning {
  validation-state: warning;
}
.max-h-52 {
  max-height: 13rem;
}
.text-block-end {
  text-align: end;
}
.will-change-auto {
  will-change: -auto;
}
.optimize-speed {
  optimization: speed;
}
.rounded-2xl {
  border-radius: 1rem;
}
.mx-2.5 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.min-h-28 {
  min-height: 7rem;
}
.transition-transform {
  transition-property: transform;
}
.&:stalled {
  nesting-selector: &:stalled;
}
.transform-2d {
  transform: 2d;
}
.px-44 {
  padding-left: 11rem;
  padding-right: 11rem;
}
.pl-72 {
  padding-left: 18rem;
}
.backdrop-brightness-125 {
  backdrop-filter: brightness(-125%);
}
.max-w-8 {
  max-width: 2rem;
}
.max-h-16 {
  max-height: 4rem;
}
.backdrop-opacity-80 {
  backdrop-filter: opacity(80%);
}
.border-4 {
  border-width: 4px;
}
.min-h-6 {
  min-height: 1.5rem;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.mx-36 {
  margin-left: 9rem;
  margin-right: 9rem;
}
.max-h-full {
  max-height: 100%;
}
.bg-transparent {
  background-color: transparent;
}
.h-1/5 {
  height: 20%;
}
.mask-round {
  mask-size: round;
}
.&:placeholder-shown {
  nesting-selector: &:placeholder-shown;
}
.mb-px {
  margin-bottom: 1px;
}
.ml-64 {
  margin-left: 16rem;
}
.min-w-1 {
  min-width: 0.25rem;
}
.max-h-48 {
  max-height: 12rem;
}
.my-56 {
  margin-top: 14rem;
  margin-bottom: 14rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.border-blue-700 {
  border-color: #1d4ed8;
}
.border-block {
  border-block: 1px solid;
}
.backdrop-brightness-95 {
  backdrop-filter: brightness(-95%);
}
.px-52 {
  padding-left: 13rem;
  padding-right: 13rem;
}
.pt-60 {
  padding-top: 15rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pl-7 {
  padding-left: 1.75rem;
}
.cursor-move {
  cursor: move;
}
.validation-valid {
  validation-state: valid;
}
.hue-rotate-180 {
  filter: hue-rotate(180deg);
}
.any-pointer-fine: {
  device-variant: any-pointer-fine;
}
.contain-content {
  contain: content;
}
.ml-56 {
  margin-left: 14rem;
}
.hue-rotate-30 {
  filter: hue-rotate(30deg);
}
.font-medium {
  font-weight: 500;
}
.px-60 {
  padding-left: 15rem;
  padding-right: 15rem;
}
.m-inline-start {
  margin-inline: 0.25rem;
}
.py-1.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.select-auto {
  user-select: auto;
}
.pb-14 {
  padding-bottom: 3.5rem;
}
.cursor-pointer {
  cursor: pointer;
}
.border-blue-100 {
  border-color: #dbeafe;
}
.ml-8 {
  margin-left: 2rem;
}
.brightness-125 {
  filter: brightness(125%);
}
.contrast-150 {
  filter: contrast(150%);
}
.mask-no-repeat {
  mask-size: no-repeat;
}
.backdrop-contrast-200 {
  backdrop-filter: contrast(-200%);
}
.@container-xl {
  container-query: true;
}
.w-8 {
  width: 2rem;
}
.h-4 {
  height: 1rem;
}
.py-40 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.pt-36 {
  padding-top: 9rem;
}
.bg-blue-200 {
  background-color: #bfdbfe;
}
.bg-clip-text {
  background-size: clip-text;
}
.blur-2xl {
  filter: blur(40px);
}
.bg-scroll {
  background-size: scroll;
}
.max-h-1 {
  max-height: 0.25rem;
}
.backdrop-blur-2xl {
  backdrop-filter: blur(40px);
}
.my-3.5 {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}
.mt-64 {
  margin-top: 16rem;
}
.max-w-44 {
  max-width: 11rem;
}
.bg-local {
  background-size: local;
}
.m-2.5 {
  margin: 0.625rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.m-3.5 {
  margin: 0.875rem;
}
.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}
.m-11 {
  margin: 2.75rem;
}
.p-9 {
  padding: 2.25rem;
}
.ml-9 {
  margin-left: 2.25rem;
}
.py-52 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.mr-64 {
  margin-right: 16rem;
}
.mx-14 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.w-1/5 {
  width: 20%;
}
.mask-clip-text {
  mask-size: clip-text;
}
.p-10 {
  padding: 2.5rem;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.@container-2xl {
  container-query: true;
}
.p-20 {
  padding: 5rem;
}
.mt-96 {
  margin-top: 24rem;
}
.backdrop-hue-rotate-90 {
  backdrop-filter: hue-rotate(-90deg);
}
.m-1.5 {
  margin: 0.375rem;
}
.max-h-20 {
  max-height: 5rem;
}
.max-w-5 {
  max-width: 1.25rem;
}
.mr-44 {
  margin-right: 11rem;
}
.relative {
  position: relative;
}
.h-5 {
  height: 1.25rem;
}
.max-w-9 {
  max-width: 2.25rem;
}
.max-w-20 {
  max-width: 5rem;
}
.min-h-2.5 {
  min-height: 0.625rem;
}
.max-h-4 {
  max-height: 1rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pr-52 {
  padding-right: 13rem;
}
.mt-60 {
  margin-top: 15rem;
}
.min-w-0.5 {
  min-width: 0.125rem;
}
.h-10 {
  height: 2.5rem;
}
.drop-shadow-3xl {
  filter: drop-shadow(0 35px 60px -12px rgb(0 0 0 / 0.3));
}
.pb-0 {
  padding-bottom: 0px;
}
.pt-52 {
  padding-top: 13rem;
}
.max-w-3.5 {
  max-width: 0.875rem;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.layer-utilities {
  layer: utilities;
}
.h-56 {
  height: 14rem;
}
.rounded-full {
  border-radius: 9999px;
}
.bg-contain {
  background-size: contain;
}
.&:volume-locked {
  nesting-selector: &:volume-locked;
}
.pt-2.5 {
  padding-top: 0.625rem;
}
.min-w-9 {
  min-width: 2.25rem;
}
.min-w-24 {
  min-width: 6rem;
}
.pr-7 {
  padding-right: 1.75rem;
}
.ml-px {
  margin-left: 1px;
}
.h-3 {
  height: 0.75rem;
}
.mr-80 {
  margin-right: 20rem;
}
.validation-info {
  validation-state: info;
}
.my-px {
  margin-top: 1px;
  margin-bottom: 1px;
}
.p-80 {
  padding: 20rem;
}
.pt-96 {
  padding-top: 24rem;
}
.plugin-cleanup {
  plugin-type: cleanup;
}
.ml-2.5 {
  margin-left: 0.625rem;
}
.w-5 {
  width: 1.25rem;
}
.min-w-8 {
  min-width: 2rem;
}
.pr-24 {
  padding-right: 6rem;
}
.p-52 {
  padding: 13rem;
}
.w-fit {
  width: fit-content;
}
.text-shadow-sm {
  text-shadow: 0 1px 2px rgb(0 0 0 / 0.05);
}
.m-px {
  margin: 1px;
}
.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.my-80 {
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.rounded-none {
  border-radius: 0px;
}
.ease-linear {
  transition-timing-function: linear;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pt-8 {
  padding-top: 2rem;
}
.h-2.5 {
  height: 0.625rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.plugin-priority-critical {
  plugin-type: priority-critical;
}
.contain-none {
  contain: none;
}
.animate-ping-slow {
  animation: -ping-slow;
}
.min-h-60 {
  min-height: 15rem;
}
.mt-8 {
  margin-top: 2rem;
}
.will-change-scroll {
  will-change: -scroll;
}
.m-6 {
  margin: 1.5rem;
}
.text-gray-100 {
  color: #f3f4f6;
}
.mx-1.5 {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.justify-end {
  justify-content: flex-end;
}
.border-gray-400 {
  border-color: #9ca3af;
}
.saturate-0 {
  filter: saturate(0%);
}
.h-3/4 {
  height: 75%;
}
.backdrop-sepia-0 {
  backdrop-filter: sepia(0%);
}
.validation-required {
  validation-state: required;
}
.mask-left {
  mask-size: left;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.--primary {
  custom-property: primary;
}
.min-h-32 {
  min-height: 8rem;
}
.max-h-44 {
  max-height: 11rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.max-w-11 {
  max-width: 2.75rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.justify-between {
  justify-content: space-between;
}
.backdrop-brightness-75 {
  backdrop-filter: brightness(-75%);
}
.text-gray-800 {
  color: #1f2937;
}
.sticky {
  position: sticky;
}
.delay-75 {
  transition-delay: 75ms;
}
.text-gray-500 {
  color: #6b7280;
}
.h-max {
  height: max-content;
}
.px-2.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.bg-gray-500 {
  background-color: #6b7280;
}
.border-inline {
  border-inline: 1px solid;
}
.pb-0.5 {
  padding-bottom: 0.125rem;
}
.mask-clip-padding {
  mask-size: clip-padding;
}
.delay-1000 {
  transition-delay: 1000ms;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mask-repeat {
  mask-size: repeat;
}
.backface-visibility-hidden {
  backface-visibility: -hidden;
}
.p-1 {
  padding: 0.25rem;
}
.text-blue-100 {
  color: #dbeafe;
}
.cursor-auto {
  cursor: auto;
}
.mobile: {
  device-variant: mobile;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.my-36 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.ml-11 {
  margin-left: 2.75rem;
}
.m-4 {
  margin: 1rem;
}
.bg-gray-700 {
  background-color: #374151;
}
.pr-40 {
  padding-right: 10rem;
}
.min-h-44 {
  min-height: 11rem;
}
.pr-10 {
  padding-right: 2.5rem;
}
.validation-rule-required {
  validation-state: rule-required;
}
.min-h-24 {
  min-height: 6rem;
}
.max-h-min {
  max-height: min-content;
}
.font-semibold {
  font-weight: 600;
}
.min-h-fit {
  min-height: fit-content;
}
.pt-0 {
  padding-top: 0px;
}
.w-px {
  width: 1px;
}
.max-h-screen {
  max-height: 100vh;
}
.h-4/5 {
  height: 80%;
}
.bg-right {
  background-size: right;
}
.text-shadow-3xl {
  text-shadow: 0 35px 60px rgb(0 0 0 / 0.3);
}
.min-w-fit {
  min-width: fit-content;
}
.bg-left-top {
  background-size: left-top;
}
.hue-rotate-60 {
  filter: hue-rotate(60deg);
}
.contain-size {
  contain: size;
}
.my-32 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.mx-52 {
  margin-left: 13rem;
  margin-right: 13rem;
}
.max-h-px {
  max-height: 1px;
}
.min-w-7 {
  min-width: 1.75rem;
}
.backdrop-grayscale-0 {
  backdrop-filter: grayscale(-0%);
}
.mr-1.5 {
  margin-right: 0.375rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.max-w-14 {
  max-width: 3.5rem;
}
.w-48 {
  width: 12rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.pt-28 {
  padding-top: 7rem;
}
.pb-px {
  padding-bottom: 1px;
}
.mr-52 {
  margin-right: 13rem;
}
.animate-bounce-fast {
  animation: -bounce-fast;
}
.h-11 {
  height: 2.75rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.m-44 {
  margin: 11rem;
}
.transform-cpu {
  transform: cpu;
}
.delay-300 {
  transition-delay: 300ms;
}
.backdrop-blur-none {
  backdrop-filter: blur(0px);
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.max-w-48 {
  max-width: 12rem;
}
.mask-right {
  mask-size: right;
}
.min-h-14 {
  min-height: 3.5rem;
}
.h-40 {
  height: 10rem;
}
.container-type-size {
  container-type: size;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.backdrop-hue-rotate-0 {
  backdrop-filter: hue-rotate(-0deg);
}
.px-48 {
  padding-left: 12rem;
  padding-right: 12rem;
}
.font-bold {
  font-weight: 700;
}
.min-h-screen {
  min-height: 100vh;
}
.text-shadow-0 {
  text-shadow: none;
}
.contrast-50 {
  filter: contrast(50%);
}
.&:invalid {
  nesting-selector: &:invalid;
}
.h-52 {
  height: 13rem;
}
.cursor-help {
  cursor: help;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.text-black {
  color: #000000;
}
.h-44 {
  height: 11rem;
}
.h-36 {
  height: 9rem;
}
.min-w-11 {
  min-width: 2.75rem;
}
.pl-3.5 {
  padding-left: 0.875rem;
}
.border-blue-950 {
  border-color: #172554;
}
.min-w-20 {
  min-width: 5rem;
}
.min-w-auto {
  min-width: auto;
}
.backdrop-brightness-150 {
  backdrop-filter: brightness(-150%);
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pl-12 {
  padding-left: 3rem;
}
.pr-0 {
  padding-right: 0px;
}
.pt-14 {
  padding-top: 3.5rem;
}
.w-32 {
  width: 8rem;
}
.mask-contain {
  mask-size: contain;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.mt-52 {
  margin-top: 13rem;
}
.min-h-64 {
  min-height: 16rem;
}
.backdrop-brightness-105 {
  backdrop-filter: brightness(-105%);
}
.mt-0.5 {
  margin-top: 0.125rem;
}
.my-64 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}
.shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.backdrop-opacity-75 {
  backdrop-filter: opacity(75%);
}
.scale-90 {
  transform: scale(0.9);
}
.backdrop-invert-0 {
  backdrop-filter: invert(0%);
}
.text-right {
  text-align: right;
}
.duration-100 {
  transition-duration: 100ms;
}
.h-8 {
  height: 2rem;
}
.h-80 {
  height: 20rem;
}
.&:first-letter {
  nesting-selector: &:first-letter;
}
.&:past {
  nesting-selector: &:past;
}
.mr-3 {
  margin-right: 0.75rem;
}
.ml-12 {
  margin-left: 3rem;
}
.transform-3d {
  transform: 3d;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.mt-56 {
  margin-top: 14rem;
}
.text-lg {
  font-size: 1.125rem;
}
.w-20 {
  width: 5rem;
}
.p-16 {
  padding: 4rem;
}
.m-block-start {
  margin-block: 0.25rem;
}
.mb-2.5 {
  margin-bottom: 0.625rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.pr-80 {
  padding-right: 20rem;
}
.border-block-end {
  border-block: 1px solid;
}
.pl-96 {
  padding-left: 24rem;
}
.absolute {
  position: absolute;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.w-80 {
  width: 20rem;
}
.backdrop-opacity-40 {
  backdrop-filter: opacity(40%);
}
.m-5 {
  margin: 1.25rem;
}
.p-0 {
  padding: 0px;
}
.mt-5 {
  margin-top: 1.25rem;
}
.w-10 {
  width: 2.5rem;
}
.mr-px {
  margin-right: 1px;
}
.bg-blue-400 {
  background-color: #60a5fa;
}
.min-h-96 {
  min-height: 24rem;
}
.drop-shadow-xl {
  filter: drop-shadow(0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1));
}
.plugin-variant {
  plugin-type: variant;
}
.min-w-40 {
  min-width: 10rem;
}
.w-2.5 {
  width: 0.625rem;
}
.p-12 {
  padding: 3rem;
}
.py-0.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.pl-80 {
  padding-left: 20rem;
}
.hidden {
  display: none;
}
.px-px {
  padding-left: 1px;
  padding-right: 1px;
}
.h-px {
  height: 1px;
}
.&:disabled {
  nesting-selector: &:disabled;
}
.py-72 {
  padding-top: 18rem;
  padding-bottom: 18rem;
}
.max-w-0.5 {
  max-width: 0.125rem;
}
.max-w-10 {
  max-width: 2.5rem;
}
.mask-right-top {
  mask-size: right-top;
}
.min-h-4 {
  min-height: 1rem;
}
.px-1.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.bg-blue-300 {
  background-color: #93c5fd;
}
.text-shadow-2xl {
  text-shadow: 0 25px 50px rgb(0 0 0 / 0.25);
}
.backdrop-blur-xl {
  backdrop-filter: blur(24px);
}
.&:future {
  nesting-selector: &:future;
}
.p-56 {
  padding: 14rem;
}
.text-blue-700 {
  color: #1d4ed8;
}
.transform-gpu {
  transform: gpu;
}
.animate-rotate-out {
  animation: -rotate-out;
}
.backdrop-sepia-100 {
  backdrop-filter: sepia(100%);
}
.m-inline-end {
  margin-inline: 0.25rem;
}
.&:playing {
  nesting-selector: &:playing;
}
.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.max-h-96 {
  max-height: 24rem;
}
.container-type-inline-size {
  container-type: inline-size;
}
.py-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}
.mx-56 {
  margin-left: 14rem;
  margin-right: 14rem;
}
.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}
.min-w-min {
  min-width: min-content;
}
.min-h-80 {
  min-height: 20rem;
}
.my-2.5 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.w-min {
  width: min-content;
}
.scale-125 {
  transform: scale(1.25);
}
.max-w-4 {
  max-width: 1rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.p-40 {
  padding: 10rem;
}
.w-9 {
  width: 2.25rem;
}
.min-w-2.5 {
  min-width: 0.625rem;
}
.mb-0 {
  margin-bottom: 0px;
}
.delay-150 {
  transition-delay: 150ms;
}
.py-2.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.backdrop-contrast-125 {
  backdrop-filter: contrast(-125%);
}
.desktop: {
  device-variant: desktop;
}
.color-hsl {
  color-function: hsl;
}
.blur-2 {
  filter: blur(8px);
}
.drop-shadow-3 {
  filter: drop-shadow(0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1));
}
.p-28 {
  padding: 7rem;
}
.sepia-100 {
  filter: sepia(100%);
}
.color-rgba {
  color-function: rgba;
}
.p-1.5 {
  padding: 0.375rem;
}
.mr-6 {
  margin-right: 1.5rem;
}
.animate-scale-in {
  animation: -scale-in;
}
.pl-48 {
  padding-left: 12rem;
}
.mr-28 {
  margin-right: 7rem;
}
.border-blue-300 {
  border-color: #93c5fd;
}
.px-3.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}
.min-h-min {
  min-height: min-content;
}
.&:buffering {
  nesting-selector: &:buffering;
}
.pr-48 {
  padding-right: 12rem;
}
.min-w-px {
  min-width: 1px;
}
.text-gray-900 {
  color: #111827;
}
.backdrop-brightness-50 {
  backdrop-filter: brightness(-50%);
}
.w-full {
  width: 100%;
}
.mr-48 {
  margin-right: 12rem;
}
.pl-1.5 {
  padding-left: 0.375rem;
}
.border-blue-800 {
  border-color: #1e40af;
}
.max-w-72 {
  max-width: 18rem;
}
.bg-repeat {
  background-size: repeat;
}
.pt-1.5 {
  padding-top: 0.375rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.m-96 {
  margin: 24rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.scale-0 {
  transform: scale(0);
}
.pl-56 {
  padding-left: 14rem;
}
.pb-36 {
  padding-bottom: 9rem;
}
.text-white {
  color: #ffffff;
}
.ml-2 {
  margin-left: 0.5rem;
}
.pb-32 {
  padding-bottom: 8rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.text-4xl {
  font-size: 2.25rem;
}
.pr-72 {
  padding-right: 18rem;
}
.w-12 {
  width: 3rem;
}
.m-2 {
  margin: 0.5rem;
}
.w-3/4 {
  width: 75%;
}
.mask-space {
  mask-size: space;
}
.perspective-none {
  perspective: none;
}
.animate-ping-fast {
  animation: -ping-fast;
}
.min-h-2 {
  min-height: 0.5rem;
}
.blur-0 {
  filter: blur(0px);
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.pt-24 {
  padding-top: 6rem;
}
.max-w-1.5 {
  max-width: 0.375rem;
}
.justify-around {
  justify-content: space-around;
}
.backdrop-opacity-100 {
  backdrop-filter: opacity(100%);
}
.m-52 {
  margin: 13rem;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.backdrop-opacity-0 {
  backdrop-filter: opacity(0%);
}
.pb-64 {
  padding-bottom: 16rem;
}
.pt-7 {
  padding-top: 1.75rem;
}
.cursor-text {
  cursor: text;
}
.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.pr-16 {
  padding-right: 4rem;
}
.pb-16 {
  padding-bottom: 4rem;
}
.pb-52 {
  padding-bottom: 13rem;
}
.min-w-12 {
  min-width: 3rem;
}
.w-1/2 {
  width: 50%;
}
.& {
  nesting-selector: &;
}
.blur-1 {
  filter: blur(4px);
}
.mt-44 {
  margin-top: 11rem;
}
.pl-10 {
  padding-left: 2.5rem;
}
.ml-14 {
  margin-left: 3.5rem;
}
.m-9 {
  margin: 2.25rem;
}
.my-0.5 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
.max-h-14 {
  max-height: 3.5rem;
}
.mt-11 {
  margin-top: 2.75rem;
}
.max-w-52 {
  max-width: 13rem;
}
.h-1/2 {
  height: 50%;
}
.bg-repeat-y {
  background-size: repeat-y;
}
.min-h-px {
  min-height: 1px;
}
.transition-shadow {
  transition-property: shadow;
}
.pr-1.5 {
  padding-right: 0.375rem;
}
.pt-4 {
  padding-top: 1rem;
}
.m-inline {
  margin-inline: 0.25rem;
}
.pt-0.5 {
  padding-top: 0.125rem;
}
.plugin-priority-high {
  plugin-type: priority-high;
}
.w-screen {
  width: 100vh;
}
.animate-spin-fast {
  animation: -spin-fast;
}
.pl-9 {
  padding-left: 2.25rem;
}
.pl-8 {
  padding-left: 2rem;
}
.pb-60 {
  padding-bottom: 15rem;
}
.mb-96 {
  margin-bottom: 24rem;
}
.backdrop-hue-rotate-30 {
  backdrop-filter: hue-rotate(-30deg);
}
.ml-5 {
  margin-left: 1.25rem;
}
.mb-32 {
  margin-bottom: 8rem;
}
.w-11 {
  width: 2.75rem;
}
.animate-none {
  animation: none;
}
.animate-zoom-in {
  animation: -zoom-in;
}
.backdrop-opacity-20 {
  backdrop-filter: opacity(20%);
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-80 {
  padding-top: 20rem;
}
.mb-11 {
  margin-bottom: 2.75rem;
}
.pb-11 {
  padding-bottom: 2.75rem;
}
.pb-80 {
  padding-bottom: 20rem;
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.max-h-max {
  max-height: max-content;
}
.p-3 {
  padding: 0.75rem;
}
.w-1/3 {
  width: 33.333333%;
}
.backdrop-grayscale-100 {
  backdrop-filter: grayscale(-100%);
}
.max-h-2.5 {
  max-height: 0.625rem;
}
.pl-0 {
  padding-left: 0px;
}
.bg-origin-content {
  background-size: origin-content;
}
.animate-bounce-slow {
  animation: -bounce-slow;
}
.select-none {
  user-select: none;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.ml-20 {
  margin-left: 5rem;
}
.mr-12 {
  margin-right: 3rem;
}
.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mr-56 {
  margin-right: 14rem;
}
.max-h-11 {
  max-height: 2.75rem;
}
.h-fit {
  height: fit-content;
}
.ml-52 {
  margin-left: 13rem;
}
.duration-75 {
  transition-duration: 75ms;
}
.hover: {
  device-variant: hover;
}
.validation-error {
  validation-state: error;
}
.pr-6 {
  padding-right: 1.5rem;
}
.mb-44 {
  margin-bottom: 11rem;
}
.w-1.5 {
  width: 0.375rem;
}
.min-h-3.5 {
  min-height: 0.875rem;
}
.w-0 {
  width: 0px;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.mask-origin-padding {
  mask-size: origin-padding;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p-inline {
  padding-inline: 0.25rem;
}
.&:paused {
  nesting-selector: &:paused;
}
.&:before {
  nesting-selector: &:before;
}
.bg-blue-600 {
  background-color: #2563eb;
}
.py-80 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}
.border-blue-400 {
  border-color: #60a5fa;
}
.min-w-36 {
  min-width: 9rem;
}
.isolation-isolate {
  isolation: isolate;
}
.bg-no-repeat {
  background-size: no-repeat;
}
.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.scale-105 {
  transform: scale(1.05);
}
.min-w-16 {
  min-width: 4rem;
}
.border-blue-900 {
  border-color: #1e3a8a;
}
.bg-gray-50 {
  background-color: #f9fafb;
}
.px-40 {
  padding-left: 10rem;
  padding-right: 10rem;
}
.pl-16 {
  padding-left: 4rem;
}
.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}
.max-w-96 {
  max-width: 24rem;
}
.animate-pulse-slow {
  animation: -pulse-slow;
}
.bg-gray-300 {
  background-color: #d1d5db;
}
.mt-14 {
  margin-top: 3.5rem;
}
.pr-px {
  padding-right: 1px;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.max-w-min {
  max-width: min-content;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.cursor-default {
  cursor: default;
}
.&:in-range {
  nesting-selector: &:in-range;
}
.m-40 {
  margin: 10rem;
}
.&:current {
  nesting-selector: &:current;
}
.pl-64 {
  padding-left: 16rem;
}
.bg-gray-950 {
  background-color: #030712;
}
.plugin-validate {
  plugin-type: validate;
}
.min-h-40 {
  min-height: 10rem;
}
.items-stretch {
  align-items: stretch;
}
.backdrop-saturate-0 {
  backdrop-filter: saturate(0%);
}
.px-96 {
  padding-left: 24rem;
  padding-right: 24rem;
}
.h-9 {
  height: 2.25rem;
}
.scale-50 {
  transform: scale(0.5);
}
.min-h-0 {
  min-height: 0px;
}
.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.flex-row {
  flex-direction: row;
}
.m-block {
  margin-block: 0.25rem;
}
.block {
  display: block;
}
.min-h-36 {
  min-height: 9rem;
}
.fixed {
  position: fixed;
}
.pl-24 {
  padding-left: 6rem;
}
.min-w-96 {
  min-width: 24rem;
}
.shadow-none {
  box-shadow: 0 0 #0000;
}
.ml-16 {
  margin-left: 4rem;
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grayscale-0 {
  filter: grayscale(0%);
}
.mb-48 {
  margin-bottom: 12rem;
}
.flex-col {
  flex-direction: column;
}
.backdrop-brightness-110 {
  backdrop-filter: brightness(-110%);
}
.backdrop-opacity-10 {
  backdrop-filter: opacity(10%);
}
.--base-100 {
  custom-property: base-100;
}
.min-w-3 {
  min-width: 0.75rem;
}
.items-start {
  align-items: flex-start;
}
.drop-shadow-sm {
  filter: drop-shadow(0 1px 2px 0 rgb(0 0 0 / 0.05));
}
.mb-40 {
  margin-bottom: 10rem;
}
.my-72 {
  margin-top: 18rem;
  margin-bottom: 18rem;
}
.min-h-52 {
  min-height: 13rem;
}
.ml-40 {
  margin-left: 10rem;
}
.bg-space {
  background-size: space;
}
.max-w-36 {
  max-width: 9rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pb-2.5 {
  padding-bottom: 0.625rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.text-gray-600 {
  color: #4b5563;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.hue-rotate-15 {
  filter: hue-rotate(15deg);
}
.text-shadow-none {
  text-shadow: none;
}
.mr-16 {
  margin-right: 4rem;
}
.bg-right-bottom {
  background-size: right-bottom;
}
.max-w-24 {
  max-width: 6rem;
}
.backdrop-blur-3xl {
  backdrop-filter: blur(64px);
}
.mt-28 {
  margin-top: 7rem;
}
.w-40 {
  width: 10rem;
}
.&:required {
  nesting-selector: &:required;
}
.mr-9 {
  margin-right: 2.25rem;
}
.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.&:scope {
  nesting-selector: &:scope;
}
.mr-10 {
  margin-right: 2.5rem;
}
.&:seeking {
  nesting-selector: &:seeking;
}
.h-28 {
  height: 7rem;
}
.mb-72 {
  margin-bottom: 18rem;
}
.plugin-append {
  plugin-type: append;
}
.validation-rule-length {
  validation-state: rule-length;
}
.m-10 {
  margin: 2.5rem;
}
.p-32 {
  padding: 8rem;
}
.pb-1.5 {
  padding-bottom: 0.375rem;
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.font-black {
  font-weight: 900;
}
.min-w-72 {
  min-width: 18rem;
}
.bg-bottom {
  background-size: bottom;
}
.ml-32 {
  margin-left: 8rem;
}
.max-w-auto {
  max-width: auto;
}
.mask-cover {
  mask-size: cover;
}
.backdrop-brightness-90 {
  backdrop-filter: brightness(-90%);
}
.no-hover: {
  device-variant: no-hover;
}
.&:indeterminate {
  nesting-selector: &:indeterminate;
}
.ml-0.5 {
  margin-left: 0.125rem;
}
.perspective-1000 {
  perspective: 1000px;
}
.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.text-blue-950 {
  color: #172554;
}
.mask-clip-border {
  mask-size: clip-border;
}
.pt-64 {
  padding-top: 16rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.will-change-contents {
  will-change: -contents;
}
.max-w-full {
  max-width: 100%;
}
.validation-invalid {
  validation-state: invalid;
}
.color-rgb {
  color-function: rgb;
}
.h-6 {
  height: 1.5rem;
}
.pr-11 {
  padding-right: 2.75rem;
}
.max-h-7 {
  max-height: 1.75rem;
}
.min-w-10 {
  min-width: 2.5rem;
}
.border-inline-start {
  border-inline: 1px solid;
}
.&:backdrop {
  nesting-selector: &:backdrop;
}
.perspective-2500 {
  perspective: 2500px;
}
.m-block-end {
  margin-block: 0.25rem;
}
.duration-1000 {
  transition-duration: 1000ms;
}
.h-12 {
  height: 3rem;
}
.max-h-2 {
  max-height: 0.5rem;
}
.min-h-1.5 {
  min-height: 0.375rem;
}
.delay-100 {
  transition-delay: 100ms;
}
.mx-60 {
  margin-left: 15rem;
  margin-right: 15rem;
}
.saturate-100 {
  filter: saturate(100%);
}
.pb-9 {
  padding-bottom: 2.25rem;
}
.bg-gray-400 {
  background-color: #9ca3af;
}
.max-h-36 {
  max-height: 9rem;
}
.bg-blue-800 {
  background-color: #1e40af;
}
.plugin-merge {
  plugin-type: merge;
}
.my-44 {
  margin-top: 11rem;
  margin-bottom: 11rem;
}
.cursor-wait {
  cursor: wait;
}
.w-3.5 {
  width: 0.875rem;
}
@media (min-width: 1024px) {
  lg:m-4 {
  margin: 1rem;
}

  lg:flex {
  display: flex;
}

  lg:p-4 {
  padding: 1rem;
}

  lg:grid {
  display: grid;
}

  lg:text-white {
  color: #ffffff;
}

  lg:bg-blue-500 {
  background-color: #3b82f6;
}

}

@media (min-width: 1280px) {
  xl:flex {
  display: flex;
}

  xl:text-white {
  color: #ffffff;
}

  xl:m-4 {
  margin: 1rem;
}

  xl:p-4 {
  padding: 1rem;
}

  xl:bg-blue-500 {
  background-color: #3b82f6;
}

  xl:grid {
  display: grid;
}

}

@media (min-width: 640px) {
  sm:text-white {
  color: #ffffff;
}

  sm:bg-blue-500 {
  background-color: #3b82f6;
}

  sm:flex {
  display: flex;
}

  sm:grid {
  display: grid;
}

  sm:p-4 {
  padding: 1rem;
}

  sm:m-4 {
  margin: 1rem;
}

}

@media (min-width: 1536px) {
  2xl:m-4 {
  margin: 1rem;
}

  2xl:text-white {
  color: #ffffff;
}

  2xl:flex {
  display: flex;
}

  2xl:grid {
  display: grid;
}

  2xl:p-4 {
  padding: 1rem;
}

  2xl:bg-blue-500 {
  background-color: #3b82f6;
}

}

@media (min-width: 768px) {
  md:text-white {
  color: #ffffff;
}

  md:p-4 {
  padding: 1rem;
}

  md:bg-blue-500 {
  background-color: #3b82f6;
}

  md:flex {
  display: flex;
}

  md:m-4 {
  margin: 1rem;
}

  md:grid {
  display: grid;
}

}

